doctype html
html
  head
    meta(charset='utf-8')
    meta(content='IE=edge,chrome=1' http-equiv='X-UA-Compatible')
    meta(content='width=device-width, user-scalable=no' name='viewport')
    link(rel='stylesheet' href='style.css')
    //- link(rel='stylesheet' href='resources/sprites.css')
    link(rel='stylesheet' href='resources/images.css')
    title Bitso
  body.reset
    |[![destFile "resources/svg.svg"]]
    #app
      .flex.navigation
        div
          //- |[![icon "bitso_logo.svg"]]
          |[![icon "bitso_logo"]]
          |[![svg "bitso_logo"]]
        .menu Exchange
        .md-show Exchange
        .md-show 1 BTC = 000,000.00 MXN
        .sm-show.menu Wallet
        .sm-show.menu Exchange
        .sm-show Ayuda
        div
          img(src='//placehold.it/45')
        .sm-flex
          .menu Usuario
          div ( d | l )
