@Pad1: 8px;
@Pad2: 16px;
@Pad3: 32px;

@TinyWidth: 600px;
@SmallWidth: 760px;
@MediumWidth: 960px;
@LargerWidth: 1260px;

html, body {
  height: 100%;
}

#app {
  overflow: auto;
  height: 100%;
}

#top {
  grid-area: header;
}

#table-left {
  grid-area: table-left;
}

#main {
  grid-area: main;
}

#table-main-01 {
  grid-area: tmain01;
}

#table-main-02 {
  grid-area: tmain02;
}

#footer {
  grid-area: footer;
}

.wrapper {
  max-width: @LargerWidth;
  position: relative;
  margin: auto;
}

.one-third {
  min-width: 260px;
}

.reset {
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;

  &.center {
    align-items: center;
  }

  > .auto {
    flex: 1 1 auto;
  }
}

.fit {
  max-width: 100%;
  height: auto;
}

.full {
  height: 100%;
}

.sp {
  + .sp {
    border-left: 1px solid @DarkText;
  }
}

.sm-show,
.md-show,
.lg-show {
  display: none;
}

@media screen and (max-width: ((@LargerWidth + 50px) - 1px)) {
  .sidebar {
    + .wrapper {
      > * {
        margin-right: 32px;
      }
    }
  }
}

@media screen and (max-width: (@TinyWidth - 1px)) {
  .sm-auto {
    flex: 1 1 auto;
  }
}

@media screen and (min-width: @TinyWidth) {
  .sm-flex {
    .flex;
  }

  .sm-show {
    display: inline-block;
  }
}

@media screen and (min-width: @SmallWidth) {
  #app {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 300px auto auto;
    grid-template-areas:
      'table-left main'
      'table-left tmain01'
      'table-left tmain02'
      'footer footer';
  }

  .md-flex {
    .flex;
  }

  .md-pad {
    margin: @Pad1;
  }

  .auto {
    margin-left: 0;
    margin-bottom: 0;
  }

  .md-show {
    display: inline-block;
  }

  .md-hide {
    display: none;
  }
}

@media screen and (min-width: @MediumWidth) {
  #app {
    display: grid;
    grid-template-columns: 2fr 3fr 3fr;
    grid-template-rows: 400px auto auto;
    grid-template-areas:
      'table-left main main'
      'table-left tmain01 tmain02'
      'footer footer footer';
  }

  .lg-flex {
    .flex;
  }

  .lg-show {
    display: inline-block;
  }
}
