@Pad1: 8px;
@Pad2: 16px;
@Pad3: 32px;

@TinyWidth: 600px;
@SmallWidth: 760px;
@MediumWidth: 960px;
@LargerWidth: 1260px;

#app {
  overflow: auto;
  height: 100%;
}

#top {
  grid-area: header;
}

#table-left {
  grid-area: table-left;
}

#main {
  grid-area: main;
}

#table-main-01 {
  grid-area: tmain01;
}

#table-main-02 {
  grid-area: tmain02;
}

#footer {
  grid-area: footer;
}

.wrapper {
  max-width: @LargerWidth;
  position: relative;
  margin: auto;
}

.one-third {
  min-width: 260px;
}

.sm-show,
.md-show,
.lg-show {
  display: none;
}

@media screen and (max-width: ((@LargerWidth + 50px) - 1px)) {
  .sidebar {
    + .wrapper {
      > .sm-flex {
        margin-right: 32px;
      }
    }
  }
}

@media screen and (max-width: (@TinyWidth - 1px)) {
  .sm-auto {
    flex: 1 1 auto;
  }
}

@media screen and (min-width: @TinyWidth) {
  .sm-flex {
    .flex;
  }

  .sm-show {
    display: inline-block;
  }
}

@media screen and (min-width: @SmallWidth) {
  #app {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: min-content min-content min-content min-content;
    grid-template-areas:
      'header header'
      'table-left main'
      'table-left tmain01'
      'footer tmain02';
  }

  .md-flex {
    .flex;
  }

  .md-pad {
    margin: @Pad1;
  }

  .auto {
    margin-left: 0;
    margin-bottom: 0;
  }

  .md-show {
    display: inline-block;
  }

  .md-hide {
    display: none;
  }
}

@media screen and (min-width: @MediumWidth) {
  #app {
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: min-content min-content min-content min-content;
    grid-template-areas:
      'header header header'
      'table-left main main'
      'table-left tmain01 tmain02'
      'footer footer footer';
  }

  .lg-flex {
    .flex;
  }

  .lg-show {
    display: inline-block;
  }
}
