@import (css) 'fonts/stylesheet.css';
@import (less) '_dark_theme';
@import (less) '_helpers';
@import (less) '_colors';
@import (less) '_layout';

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: DINPro;
  font-weight: 300;
  font-size: 85%;
}

#app, html, body {
  height: 100%;
}

.navigation {
  color: @LightText;
  padding: @Pad1;

  @media screen and (min-width: @SmallWidth) {
    padding: @Pad1 @Pad2;
  }

  > .pad {
    padding: 0 @Pad1;

    &:first-child {
      padding-left: 0;
    }
  }
}

.header {
  background-color: @RegularNavy;
}

.scroll {
  position: relative;
  overflow: hidden;
  height: 20px;

  > * {
    height: 50px;
    overflow: auto;
    white-space: nowrap;

    @media screen and (max-width: @MediumWidth) {
      &::after,
      &::before {
        content: ' ';
        position: absolute;
        left: 0;
        width: 50px;
        height: 50px;
      }

      &::before {
        background-image: linear-gradient(to left, transparent, @DarkNavy);
      }

      &::after {
        background-image: linear-gradient(to right, transparent, @DarkNavy);
        left: auto;
        right: 0;
      }
    }
  }
}

.topbar {
  background-color: @DarkNavy;
  padding: @Pad1;

  @media screen and (min-width: @SmallWidth) {
    padding: @Pad2;
  }

  .push > * {
    margin-left: @Pad3;
  }

  .light {
    color: @SidebarText;
  }

  .menu {
    color: @LightGreen;
  }
}

.stats {
  .pad {
    padding: @Pad1;
  }

  .mxn::before {
    content: 'MXN';
  }

  .btc::before {
    content: 'BTC';
  }

  .sel {
    background-color: @Sidebar;
  }

  .hi {
    color: @SidebarText;
  }

  .up {
    color: @DarkGreen;
  }

  .down {
    color: @DarkRed;
  }

  .sel {
    .hi {
      color: @LightText;
    }

    .up {
      color: @LightGreen;
    }

    .down {
      color: @LightRed;
    }
  }

  .inverted,
  .ordered {
    .flex {
      *:nth-child(1) { flex: 1 1 auto; }
    }
  }

  @media screen and (min-width: @MediumWidth) {
    tr {
      display: flex;

      td, th {
        flex: 1 1 auto;
      }
    }

    .ordered {
      .flex {
        > *:nth-child(1) { order: 1; flex: 1 1 auto; }
        > *:nth-child(2) { order: 2; }
      }
    }

    .inverted {
      .flex {
        > *:nth-child(1) { order: 2; flex: none; }
        > *:nth-child(2) { order: 1; flex: 1 1 auto; }
      }

      tr {
        td:nth-child(1), th:nth-child(1) { order: 5; }
        td:nth-child(2), th:nth-child(2) { order: 4; }
        td:nth-child(3), th:nth-child(3) { order: 3; }
        td:nth-child(4), th:nth-child(4) { order: 2; }
        td:nth-child(5), th:nth-child(5) { order: 1; }
      }
    }
  }

  caption {
    background-color: @NavyHeaders;
    color: @LightText;
  }

  tr {
    .pad {
      padding: (@Pad1 / 2) @Pad1;
    }
  }

  th {
    font-weight: normal;
    color: @SidebarText;

    span {
      color: @DarkText;
    }
  }
}

.menu {
  &::after {
    content: '▾';
    margin-left: @Pad1;
  }
}

.user-menu {
  img {
    padding: 2px;
    border-radius: 50%;
    border: 1px solid @DarkText;
  }
}
