@import (css) 'fonts/stylesheet.css';
@import (less) '_dark_theme';
@import (less) '_helpers';
@import (less) '_colors';
@import (less) '_layout';

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: DINPro;
}

#app, html, body {
  height: 100%;
}

.navigation {
  color: @LightText;
  padding: @Pad2;

  > .pad {
    padding: 0 @Pad2;

    &:first-child {
      padding-left: 0;
    }
  }
}

.wrapper {
  max-width: @LargerWidth;
  margin: auto;
}

.scroll {
  overflow: hidden;
  height: 20px;

  > * {
    height: 100px;
    overflow: auto;
    white-space: nowrap;
  }
}

.topbar {
  background-color: @DarkNavy;
  padding: @Pad2;

  .push {
    padding: 0 @Pad2;

    &:first-child {
      padding-left: 0;
    }
  }

  .light {
    color: @SidebarText;
  }

  .menu {
    color: @LightGreen;
  }
}

.menu {
  &::after {
    content: '▾';
    margin-left: @Pad1;
  }
}

.user-menu {
  img {
    padding: 2px;
    border-radius: 50%;
    border: 1px solid @DarkText;
  }
}
