@import (css) 'fonts/stylesheet.css';
@import (less) '_dark_theme';
@import (less) '_helpers';
@import (less) '_colors';
@import (less) '_layout';

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: DINPro;
}

#app, html, body {
  height: 100%;
}

.navigation {
  padding: @Pad2 @Pad3;
  color: @LightText;

  > .pad {
    padding: 0 @Pad2;

    &:first-child {
      padding-left: 0;
    }
  }
}

.menu {
  &::after {
    content: ' ▾';
  }
}

.user-menu {
  img {
    padding: 2px;
    border-radius: 50%;
    border: 1px solid @DarkText;
  }
}
